<!DOCTYPE html>
<html>
  <head>
    <title>diarybot</title>
    <meta name="viewport" content="width=650, initial-scale=1.0" />

    <style type="text/css" media="all">
      /* <![CDATA[ */
      body {
	  font-family: sans-serif;
      }
      .entries li {
	  margin-bottom: 6px;
	  width: 600px;
      } 
      .entries li div { white-space: pre-line; }
      .time {
	  color:#8CA08C;
	  font-size:77%;
      }
     table {
         border-collapse: collapse;
     }
     td {
         white-space: nowrap;
     }
     td.content {
         white-space: initial;
     }
     tr:nth-child(odd) { background: #eaeaea; }
      /* ]]> */
    </style>

  </head>
  <body>
    <p><a href="{{query.makeHomeLink()}}">diarybot home</a></p>
    <h2>{{bot.name}} {{query.desc}}</h2>
    <p>Switch to
      {% for q in otherQueries %}
      <a href="{{q.makeLink(query)}}">{{q.name}}</a>
      {% end %}</p>

    {% include "diaryviewentries.html" %}

    {% raw loginBar %}

  </body>
</html>
