<!DOCTYPE html>
<html>
  <head>
    <title>diarybot</title>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <style type="text/css" media="all">
     .text-form {
       width: 100%;
     }
     textarea {
       font-family: serif;
       font-size:12pt;
     }
     .autotext button {
       min-height: 40px;
       min-width: 60px;
     }
     form { display: inline-block; }
    </style>
    <script src="/lib/polymer/1.0.9/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="/lib/polymer/1.0.9/iron-autogrow-textarea/iron-autogrow-textarea.html">
  </head>
  <body>
    <h1>Diarybot</h1>

    {% for bot in bots %}
      <h2>{{bot.name}}</h2>
      <div><a href="{{bot.name}}/history/recent">history</a></div>
      <div>{{bot.getStatus()}}</div>
      <div>New entry:

        <span class="autotext">
          {% for label in bot.autotexts %}
          <form method="POST" action="{{bot.name}}/message">
            <input type="hidden" name="msg" value="{{label}}">
            <button type="submit">{{label}}</button>
          </form>
          {% end %}
        </span>

      </div>
      <form class="text-form" method="POST" action="{{bot.name}}/message">
        <div><iron-autogrow-textarea name="msg" rows="2" style='width: 100%'
                       speech="on"></textarea></div>
        <div><input type="submit" value="Send"></div>
      </form>
    {% end %}

    {% raw loginBar %}

  </body>
</html>
